.page-with-sidebar{ class: page_with_sidebar_class }
  - if defined?(nav) && nav
    = render "layouts/nav/sidebar/#{nav}"
  .content-wrapper
    .mobile-overlay
    .alert-wrapper
      = render "layouts/broadcast"
      = yield :flash_message
      - unless @hide_breadcrumbs
        = render "layouts/nav/breadcrumbs"
      = render "layouts/flash"
    %div{ class: "#{(container_class unless @no_container)} #{@content_class}" }
      .content{ id: "content-body" }
        = yield
